@import url(//db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);
*{
    color: #4b4b4b;
}
.header-container{
    text-align: center;
}
.headerclass{
    font-family: "Feather Bold", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.slogan{
    color:#777777;
    margin-top: -40px;
}
.headerclass h1{
    margin: 50px;
}
.logo{
    margin-left: 30px;
    width: 300px;
}
nav ul{
    list-style: none;
    display: flex; 
    flex-direction: column;
    margin-right: 200px;
    font-size: larger;
}

li img{
    display: flex; 
    margin-top: 20px;
}
li a{
    position: relative;
    top: -22px;
    left: 40px;
}
body{
    margin:0px;
    font-family: "DINNextRoundedLTW01-Regular", sans-serif;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.evolution {
    background-color: #89e219;
}
.evolution p{
    margin-top: -15px;
}
.character {
    background-color: #58cc02;
}
.all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
.all a{
    background-color: #58cc02;
  }
.h12 img{
    margin: 30px;
}
 
.h11 img{
    margin: 40px;
} 
.darkside{
    background-color: #43c000;
}
.evolution .div0{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.evolution div{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
}

figure figcaption{
    text-align: right;
  margin-right: 60px;
  color: #777777;
}
a {
    text-decoration: none;
    color:#58cc02 ;
    background-color: #ffffff;
}
.darkside p{
    color: #777777;
    font-family: "Feather Bold", sans-serif;
    text-align: center;
    margin-top: -20px;
}
footer{
    font-family: "DINNextRoundedLTW01-Regular", sans-serif;
    text-align: center;
    margin: 20px;
}
a:hover{
    color:#2b70c9
}